@use "@/scss/util" as u;
@use "@/scss/util/mixins/fluid-sizing" as fluid;

.quick-link {
	position: relative;
	display: block;

	border-radius: var(--radius-5);

	overflow: hidden;

	transition-property: box-shadow;
	transition-duration: 800ms;

	&,
	&__label {
		@include u.breakpoint(laptop) {
			min-height: 160px;
		}
	}

	&:hover {
		box-shadow: var(--shadow-3);
		transition-duration: 400ms;
	}

	&__image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
	}

	&__image {
		z-index: -1;
		object-fit: cover;

		transition-property: object-position, filter;
		transition-duration: 1200ms;

		@include u.breakpoint(tablet) {
			filter: saturate(0.25);
		}
	}

	&:hover {
		& .quick-link__image {
			object-position: 50% 45%;
			filter: saturate(1);
			transition-duration: 400ms;
		}
	}

	&__label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: var(--space-2);

		padding: var(--space-4) var(--space-6);

		font-family: var(--sans-serif);
		color: white;
		text-shadow: 1px 1px 0 black;

		background: hsl(0 0% 0% / 0.75);

		transition-property: opacity;
		transition-duration: 1200ms;

		@include u.breakpoint(laptop) {
			background: linear-gradient(90deg, hsl(0 0% 0% / 0.75) 30%, hsl(0 0% 0% / 0.25));
		}
	}

	&:hover {
		& .quick-link__label {
			transition-duration: 800ms;
			opacity: 0.8;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block-end: var(--space-2);
		border-bottom: solid 1px hsl(0 0% 100% / 0.5);

		@include fluid.typography(5, 7);
		font-weight: var(--fw-bold);
		text-wrap: balance;
	}

	&__classes {
		font-weight: var(--fw-light);
	}

	&__dates {
		display: flex;
		flex-direction: column;
		gap: var(--space-1);
		text-wrap: balance;
	}
}
