@use "@/scss/util" as u;
@use "@/scss/util/mixins/fluid-sizing" as fluid;

/* reset */
button,
p {
	all: unset;
}

.nav {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: space-between;
  align-items: stretch;
  
  &__list {
    list-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    
    border-radius: var(--radius-3);
  }

  &__trigger,
  &__link {
    outline: none;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--space-2) var(--space-3);
    
    @include fluid.typography(3, 4);
    font-weight: var(--fw-medium);
    line-height: 1;

    color: var(--grey-12);

    transition-property: color;
    transition-duration: 800ms;
    
    &:focus-visible {
      outline: solid 2px var(--accent-11);
    }
    &:hover {
      color: var(--accent-11);
      transition-duration: 300ms;
    }
  }

  &__indicator {
    top: 100%;
    overflow: hidden;
    z-index: 1;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: 10px;

    transition-property: width, transform;
    transition-duration: 250ms;
    transition-timing-function: ease;

    &[data-state="visible"] {
      animation: fadeIn 200ms ease;
    }
    &[data-state="hidden"] {
      animation: fadeOut 200ms ease;
    }

    &-arrow {
      position: relative;
      top: 70%;
  
      width: 10px;
      height: 10px;
  
      background-color: var(--grey-0);
      border-top-left-radius: 2px;
  
      transform: rotate(45deg);
    }
  }

  &__viewport {
    &-container {
      position: absolute;
      top: 100%;
      left: 0;
      perspective: 2000px;
  
      display: flex;
      justify-content: center;
      width: 100%;
    }

    position: relative;
    overflow: hidden;

    transform-origin: top center;
    margin-top: 9px;
    width: 100%;
    height: var(--radix-navigation-menu-viewport-height);

    background-color: var(--grey-0);
    border-radius: 6px;
    
    transition-property: width, height;
    transition-duration: 300ms;
    transition-timing-function: ease;
    
    &[data-state="open"] {
      animation: scaleIn 200ms ease;
      box-shadow: var(--shadow-4);
    }
    &[data-state="closed"] {
      animation: scaleOut 200ms ease;
    }

    @include u.breakpoint(phone-landscape) {
      min-width: var(--radix-navigation-menu-viewport-width, 640px);
      max-width: fit-content;
    }
  }
}

.nav--mobile .nav {
  &__list {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-3)
  }

  &__link,
  &__trigger {
    padding: 0;

    @include fluid.typography(5, 6, 320, 768);
    font-weight: var(--fw-bold);
  }
}