@use "@/scss/util" as u;

.header {
	position: sticky;
  top: 0;

  justify-content: flex-end;
  align-items: center;

	width: 100%;

	background-color: var(--grey-0);

  @include u.breakpoint-down(phone-landscape) {
    display: flex;
  }
}
