@use "@/scss/util" as u;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-1);
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

button {
	font-family: inherit;
	font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

	cursor: pointer;

	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.block {
  margin-block: var(--space-7);
}

.visually-hidden {
	position: absolute;
	left: -1000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;

	&:focus {
		left: 0;
		width: auto;
		height: auto;
		background-color: hsl(0, 0%, 100%);
		padding: 0.5rem;
		border: solid 1px;
	}
}

