@use "@/scss/util" as u;
@use "@/scss/util/mixins/fluid-sizing" as fluid;

.classes {
	margin-block-end: var(--space-7);

	&__container {
		display: grid;
		gap: var(--space-4);
    
		@include u.breakpoint(phone-landscape) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      &--list {
        grid-template-columns: auto;

        & .class__description-list {
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: var(--space-6);
        }
      }
    }
	}

  &__no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
  }
  &__no-results-message {
    font-family: var(--sans-serif);
    color: var(--solid-2);
    animation: enterFromBottom 600ms, fadeIn 200ms;
    animation-fill-mode: backwards;
  }
  &__no-results-icon {
    @include fluid.typography(5, 6);
    color: var(--solid-2);
    color: var(--border-3);
    animation: fadeIn 800ms 200ms;
    animation-fill-mode: backwards;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  gap: var(--space-5);

  margin-block: var(--space-5);
}

.toggle-group {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    gap: var(--space-1);

    padding: var(--space-3);

    border-top: solid 1px var(--border-1);
    border-bottom: solid 1px var(--border-1);
    border-left: solid 1px var(--border-1);
    
    background-color: var(--background-0);

    transition-property: color, background-color;
    transition-duration: 600ms;
    
    &:first-child {
      border-radius: var(--radius-5) 0 0 var(--radius-5);
    }
    &:last-child {
      border-right: solid 1px var(--border-1);
      border-radius: 0 var(--radius-5) var(--radius-5) 0;
    }
    &:hover {
      background-color: var(--accent-3);
      transition-duration: 400ms;
    }
    &[data-state="on"] {
      color: var(--text-accent-1);
      background-color: var(--interactive-accent-3);
      transition-duration: 200ms;
    }
    &:focus-visible {
      position: relative;
      outline: solid 2px var(--text-accent-2);
    }
  }
}
